.hero {
  color: #333;
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 160px 40px 40px;
}
.hero header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
.hero header .logo {
  position: relative;
  max-width: 80px;
}
.hero header ul {
  display: block;
  position: relative;
}
.hero header ul li {
  text-align: right;
}
.hero header ul li a {
  display: inline-block;
  font-weight: 400;
  color: #333;
  margin: 0 0 4px 0;
  transition: 0.5s;
}
.hero header ul li a:hover {
  color: #017143;
}
.hero .content {
  position: relative;
  width: 100%;
  margin: 0 0 40px 0;
}
.hero .content .textBox {
  position: relative;
  width: 100%;
  margin: 0 0 40px 0;
}
.hero .content .textBox h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  color: #333;
  margin: 0 0 24px 0;
}
.hero .content .textBox h2 span {
  font-size: 40px;
  font-weight: 900;
  color: #017143;
}
.hero .content .textBox p {
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 12px 0;
}
.hero .content .textBox a {
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  margin: 20px 0 0 0;
  padding: 16px 40px;
  border: 2px solid #017143;
  border-radius: 40px;
  background: #017143;
  transition: 0.5s;
}
.hero .content .textBox a:hover {
  color: #017143;
  background: #fff;
}
.hero .content .imgBox {
  width: 100%;
}
.hero .content .imgBox img {
  width: 100%;
  height: auto;
}
.hero .thumb {
  display: flex;
  position: relative;
  bottom: 30px;
  z-index: 1;
}
.hero .thumb li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.hero .thumb li:hover {
  transform: translateY(-15px);
}
.hero .thumb li img {
  max-width: 60px;
}
.hero .sns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 16px;
  border-radius: 16px 0 0 16px;
  background: #017143;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.hero .sns li {
  margin: 0 0 24px 0;
}
.hero .sns li a {
  display: inline-block;
  filter: invert(1);
}
.hero .sns li a img {
  width: auto;
  height: 20px;
}
.hero .sns li:last-child {
  margin: 0;
}
.hero .circle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  -webkit-clip-path: circle(530px at center 1375px);
          clip-path: circle(530px at center 1375px);
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 140px 40px;
  }
  .hero header {
    align-items: center;
    padding: 20px 40px;
  }
  .hero header ul {
    display: flex;
  }
  .hero header ul li a {
    margin: 0 0 0 24px;
  }
  .hero .content {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .hero .content .textBox {
    margin: 0;
  }
  .hero .content .textBox p {
    text-align: left;
  }
  .hero .content .imgBox {
    width: 80%;
  }
  .hero .thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
  }
  .hero .sns {
    padding: 0;
    border-radius: none;
    background: none;
    right: 30px;
  }
  .hero .sns li {
    margin: 0 0 12px 0;
  }
  .hero .sns li a {
    margin: 8px 0;
  }
  .hero .circle {
    top: 0;
    left: 0;
    -webkit-clip-path: circle(540px at right 800px);
            clip-path: circle(540px at right 800px);
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    padding: 160px 0 80px;
  }
  .hero header {
    padding: 20px 48px;
  }
  .hero header ul li a {
    margin: 0 0 0 40px;
  }
  .hero .content {
    width: 920px;
    margin: 0 auto;
  }
  .hero .content .textBox {
    margin: 0;
  }
  .hero .content .textBox h2 {
    font-size: 48px;
  }
  .hero .content .textBox h2 span {
    font-size: 56px;
  }
  .hero .content .imgBox {
    width: 64%;
    position: relative;
    bottom: 32px;
  }
  .hero .sns li a img {
    height: 32px;
  }
  .hero .circle {
    -webkit-clip-path: circle(600px at right 800px);
            clip-path: circle(600px at right 800px);
  }
}
@media screen and (min-width: 1366px) {
  .hero header {
    width: 1000px;
    padding: 20px 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero .content {
    width: 1000px;
  }
  .hero .content .textBox h2 {
    font-size: 64px;
    line-height: 1.2;
  }
  .hero .content .textBox h2 span {
    font-size: 72px;
  }
  .hero .content .imgBox {
    width: 72%;
    left: 40px;
  }
  .hero .thumb {
    bottom: 40px;
  }
  .hero .thumb li img {
    max-width: 80px;
  }
  .hero .sns li {
    margin: 0 0 24px 0;
  }
  .hero .circle {
    -webkit-clip-path: circle(700px at right 900px);
            clip-path: circle(700px at right 900px);
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    padding: 240px 0 80px;
  }
  .hero header {
    width: 1200px;
    padding: 20px 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero .content {
    width: 1200px;
  }
  .hero .content .imgBox {
    left: 40px;
    bottom: 64px;
  }
  .hero .thumb {
    bottom: 100px;
  }
  .hero .thumb li {
    margin: 0 40px;
  }
  .hero .thumb li img {
    max-width: 120px;
  }
  .hero .circle {
    -webkit-clip-path: circle(800px at right 1000px);
            clip-path: circle(800px at right 1000px);
  }
}
@media screen and (min-width: 1980px) {
  .hero {
    padding: 320px 0 80px;
  }
  .hero .content .imgBox {
    width: 80%;
    left: 64px;
    bottom: 100px;
  }
  .hero .thumb {
    bottom: 100px;
  }
  .hero .circle {
    -webkit-clip-path: circle(1000px at right 1300px);
            clip-path: circle(1000px at right 1300px);
  }
}/*# sourceMappingURL=header.css.map */